{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 bg-success mr-2 text-light text-center p-2"><h4>first column</h4></div>
    <div class="col bg-danger ml-2 text-success p-2" ><h4>second column</h4></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 bg-success mr-2 text-light text-center p-2"><h4>first column</h4></div>
    <div class="col bg-danger ml-2 text-success p-2" ><h4>second column</h4></div>
    <div class="col bg-info ml-4 text-success p-2" ><h4>third column </h4></div>
  </div><br/>
  <div class="row">
    <div class="col bg-warning text-center"><h4>hello</h4></div>
    <div class="col ">
      <div class="row bg-info ">
        <h4>yamini</h4>

      </div>
      <div class="row bg-success ">
        <h4 >jyothi</h4>

      </div>
      <div class="row bg-danger ">
        <h4>sai</h4>
        

      </div>
    </div>
  </div>
  
{% endblock %}